<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="profileModalLabel">User Add/Update</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="profileForm"
          class="main_form"
          method="post"
          action="/users/<%= user._id%>/?_method=PUT"
        >
          <div class="form-group mb-2">
            <label for="name">Name</label>

            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="form-group mb-2">
            <label for="email">Email address</label>
            <input
              type="text"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>

          <div class="form-group mb-2">
            <label for="phone">Phone number</label>
            <input
              type="text"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="Phone Number"
            />
          </div>

          <div class="form-group mb-2">
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
            />
          </div>

          <div class="form-group mb-2">
            <label for="Role">Role</label>

            <select class="form-control" name="role" id="role" <%= user.role=='admin'?'':'disabled=disabled' %>>
              <option value="member">Member</option>
              <option value="trainer">Trainer</option>
              <option value="admin">Admin</option>
            </select>
          </div>

          <div class="col-md-12 text-right">
            <button type="reset" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const userProfileModal = async (userId = '') => {
    let user = {
      _id: '',
      name: '',
      email: '',
      password: '',
      phone: '',
      role: 'member',
    };

    if (userId == 'new') {
      console.log('yeni user islemleri');
    } else {
      console.log('user get', window.location.origin + '/users/' + userId);
      let res = await fetch(window.location.origin + '/users/' + userId);
      res = await res.json();
      console.log(res);
      if (res.status == 'success') {
        user = res.user;
      } else {
        alert('Error:', res.message);
      }
    }
    console.log(user);
    userProfileFormFill(user);
    $('#profileModal').modal();
  };

  const userProfileFormFill = (user) => {
    const form = document.getElementById('profileForm');
    console.log('user_id: ', user._id);
    if (user._id == '') {
      form.action = window.location.origin + '/users/';
    } else {
      form.action =
        window.location.origin + '/users/' + user._id + '/?_method=put';
    }
    form.name.value = user.name;
    form.email.value = user.email;
    form.phone.value = user.phone;
    form.role.value = user.role;
    form.password.value = '';
  };

  const userDelete = (userId) => {
    Swal.fire({
      title: 'Do you want to delete?',
      showConfirmButton: false,
      showDenyButton: true,
      showCancelButton: true,
      denyButtonText: `Delete User`,
    }).then(async (result) => {
      if (result.isDenied) {
        window.location =
          window.location.origin + '/users/' + userId + '/?_method=delete';
      }
    });
  };
</script>
